:root {
   --heading-color: #F5EEE6;
   --background-color: #386CA0;
   --color: #70553C;
   --heading-font: Sriracha;
}

h2,
h3  {
   color: var(--color);
   font-family: var(--heading-font);
   font-size: 2rem;
   grid-column: 1/-1;
   justify-self: center;
   margin: 0;
}

.hero h1 {
   color: var(--heading-color);
   font-family: var(--heading-font);
   background-color: #435560;
   opacity: 90%;
   text-align: center;
   position: absolute;
   left: 50%;
   top: 10%;
   transform: translate(-50%, -50%);
   font-size: 3rem;
   padding: 0 3rem;
}

p {
   color: var(--color);
   font-family: farsan;
   font-size: 20px
}

.hero {
   position: relative;
   margin: 1em 0;
}

.hero img {
   display: block;
   opacity: 90%;
   width: 100%;
   height: auto;
   position: relative;
}

.hero article {

   position: absolute;
   left: 60%;
   top: 70%;
   transform: translate(0, -50%);
}

article {
   position: absolute;
   top: 1rem;
   left: 2rem;
   right: 2.5rem;
   padding: 5rem;
}

.hero article img {
   float: right;
   width: 150px;
   position: relative;
}

article p {
   color: #F5EEE6;
   padding: 12px;
   font-size: 2rem;
}

section .hystory,
section .adventures {
   display: block
}

.sociallinks {
   background-color: #386CA0
}

header {
   display: grid;
   grid-template-columns: 200px auto;
   align-items: center;
   background-color: #386CA0;
}

header img {
   border: 10px solid #386CA0
}

nav {
   display: flex;
   justify-content: space-around
}

nav a {
   font-family: var(--heading-font);
   font-size: 2rem;
   text-decoration: none;
   padding: 1.5rem;
   color: #F5EEE6;
}

nav a:hover {
   background-color: #70553C;
}

.history {
   display: grid;
   grid-template-columns: 2fr 1fr 2fr;
   gap: 1em;
   margin: 1rem 0;
}

.adventures {
   display: grid;
   margin: 1rem 0;
   grid-template-columns: repeat(5, 1fr);
   gap: 1rem;
   justify-items: center;
}

.adventures img {
   width: 100%;
   height: 100%;
}

figure {
   background-color: #70553C;
   color: #F5EEE6;
   align-self: center;
}

figcaption {
   text-align: center;
   padding: .25em 0;
   font-family: farsan;
   font-size: 30px;
}

footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0rem;
   background-color: #386CA0;
   margin-top: 1rem;
}

footer p,
a {
   color: #F5EEE6;
   font-size: 1.75rem;
   padding-left: 2rem;
}

.grid-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);

}

.staff {
   padding: 20px;
   margin-top: 15px;
}

.contain {
   margin: 10px;
}

iframe {
   display: block;
   margin:0 auto;
   margin-top: 10px;
}

.contact a {
   display:block;
   text-decoration: none;
   font-family: farsan;
   color: #435560;
   width: 200px;
   margin:0 auto;
}

.contact {
   margin: 15px auto;
   font-family: farsan;
   color: #435560;
   font-size: 2rem;
   padding: 20px;
}

.form h1 {
   color: var(--color);
   font-family: var(--heading-font);
   font-size: 3rem;
   text-align: center;
   margin: 0;
}

.form {
   margin: 0;
   font-style: italic;
   font-size: 18px;
   padding: 20px;
}

form p {
   margin: 0;
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
}

.user-name,
.user-email{
   width: 99%;
}

.block {
   display: block;
}

textarea {
   overflow-y: scroll;
   height: auto;
   resize: none;
   width: 99%;
   font-size: 100%;
}

fieldset{
   font-family: Arial, Helvetica, sans-serif;
   margin-top: .5rem;
}

input {
   font-family: inherit  
}

button {
   display: block;
   margin: 10px 0;
   color: whitesmoke;
   background-color: #386CA0;
   height: 3rem;
   border: 5px solid #70553C;
   font-size: 20px;
   font-family: var(--heading-font);
}

.staff figure {
   width: 300px;
   height: 225px;
   margin: 10px;
   margin-left: 105px;
}

.staff img {
   width: 100%;
   height: 175px;
}